{% extends 'base.html.twig' %}

{% block body %}
    {% for student in students %}
        <p>
        {{student.firstname ~' '~ student.lastname}} / {{student.birthday| date('d/m/Y') }}
        </p>
    {% endfor %} 
{% endblock %}